<section class="products-show">
test

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

    </div>

  </article>



  <table class="table table-bordered">
    <h3>Product Reviews</h3>
      <thead>
        <tr>
          <th>User</th>
          <th>Description</th>
          <th>Rating</th>
        </tr>
      </thead>     

  </table>
  <% @reviews.each do |a|%>
    <%= "#{User.find(a.user_id).firstName} #{User.find(a.user_id).lastName} #{a.description} #{a.rating}" %><br>
    <%end %>


  <div class="">
    <h3>Write a Review</h3>
      <%= form_for [@product, @review] do |form| %>

        <% if form.object.errors.any? %>
        <div class="alert alert-danger">
          <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
 
        <div class="form-group">
          <%= form.label :Description %><br>
          <%= form.text_area :description %>
        </div>

        <div class="form-group">
          <%= form.label :Rating %>
          <%= form.select :rating, options_for_select([1,2,3,4,5]), { include_blank: false }%>
        </div>
        
        <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
        
      <% end %>
  </div>
    

</section>
